html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Tahoma;
}

.hundred-height {
  height: 100%;
}

/* Navigation */
.navbar {
  margin-bottom: 0px;
}
#segment-autocomplete {
  width: 42em;
}

/* Map */
#map-canvas {
  height: 100%;
  width: 100%;
  float: left;
}

/* Road */
.road {
  stroke: rgb(225,225,225);
  fill: none;
  strok-width: 0.5;
}

/* Segment */
.segment {
  stroke: rgb(0,0,0);
  fill: none;
  stroke-width: 0.5;
}

.segment:hover {
  stroke: black;
  stroke-width: 1.0;
}

.segment-flyout {
  stroke: lightgrey;
  stroke-width: 1.0;
}

.segment-selected {
  stroke: black;
}

.segment-label {
  font-family: Tahoma;
  font-size: 7pt;
  fill: black;
}

/* Charts and Detail Pane */
.detail {
  position: absolute;
  right: 10px;
  width: 35em;
  background-color: white;
  opacity: 0.98;
}

.detail-hidden {
  display: none;
}

#site-status, #average-region-status {
  font-size: 2.5em;
  border:solid 1px darkgray;
  border-radius:2em;"
}

.status-normal {
  background-color: rgb(142,204,158);
}

.status-impacted {
  background-color: rgb(250,189,137);
}

.status-congested {
  background-color: rgb(248,157,154);
}

/* Typeahead CSS */
.tt-dropdown-menu,
.gist {
  text-align: left;
}

.typeahead,
.tt-query,
.tt-hint {
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 40em;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 1.6em;

}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
