html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Tahoma;
}

/* Navigation */
.navbar {
  margin-bottom: 0px;
}

/* Map */
#map-canvas {
  height: 100%;
  width: 100%;
  float: left;
}

.segment {
  stroke: lightgrey;
  fill: none;
  stroke-width: 0.5;
}

.segment:hover {
  stroke: black;
  stroke-width: 1.0;
}

.segment-flyout {
  stroke: lightgrey;
  stroke-width: 1.0;
}

.segment-selected {
  stroke: black;
}

.segment-label {
  font-family: Tahoma;
  font-size: 7pt;
  fill: black;
}

/* Charts/Detail Pane */
#charts {
  display: none;
}
#charts-new {
  position: absolute;
  right: 10px;
  width: 28em;
}
.hundred-height {
  height: 100%;
}
#site-status {
  font-size: 2.5em;
  background-color: rgb(1,1,1);
  border:solid 1px darkgray;
  border-radius:2em;"
}
.detail-pane-rows {
  padding: 0em 2em 0em 2em;
}

/* Typeahead CSS */
.tt-dropdown-menu,
.gist {
  text-align: left;
}

.typeahead,
.tt-query,
.tt-hint {
  /*
  width: 396px;
  height: 30px;
  padding: 8px 12px;

  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  */
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  /*
  margin-top: 12px;
  padding: 8px 0;
  */
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /*
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  */
}

.tt-suggestion {
  /*
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
  */
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
