html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Tahoma;
}

.hundred-height {
  height: 100%;
}

/* Navigation */
.navbar {
  margin-bottom: 0px;
}
#segment-autocomplete {
  width: 30em;
}

/* Map */
#map-canvas {
  height: 100%;
  width: 100%;
  float: left;
}

/* Road */
.road {
  stroke: rgb(225,225,225);
  fill: none;
  strok-width: 0.5;
}

/* Segment */
.segment {
  stroke: rgb(0,0,0);
  fill: none;
  stroke-width: 0.5;
}

.segment:hover {
  stroke: black;
  stroke-width: 1.0;
}

.segment-flyout {
  stroke: lightgrey;
  stroke-width: 1.0;
}

.segment-selected {
  stroke: black;
}

.segment-label {
  font-family: Tahoma;
  font-size: 7pt;
  fill: black;
}

/* Charts and Detail Pane */
#charts {
  display: none;
  position: absolute;
  right: 10px;
  width: 35em;
  background-color: white;
  opacity: 0.98;
}

#site-status {
  font-size: 2.5em;
  background-color: rgb(1,1,1);
  border:solid 1px darkgray;
  border-radius:2em;"
}

.site-status-normal {
  background-color = rgb(142,204,158);
}

.site-status-impacted {
  background-color = rgb(250,189,137);
}

.site-status-congested {
  background-color = 'rgb(248,157,154)';
}


/* Typeahead CSS */
.tt-dropdown-menu,
.gist {
  text-align: left;
}

.typeahead,
.tt-query,
.tt-hint {
  /*
  width: 396px;
  height: 30px;
  padding: 8px 12px;

  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  */
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  /*
  margin-top: 12px;
  padding: 8px 0;
  */
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /*
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  */
}

.tt-suggestion {
  /*
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
  */
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
