html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Tahoma;
}
#map-canvas {
  height: 100%;
  width: 50%;
  float: left;
}
#charts {
  display: none;
}
.hundred-height {
  height: 100%;
}
#site-status {
  font-size: 2.5em;
  background-color: rgb(1,1,1);
  border:solid 1px darkgray;
  border-radius:2em;"
}