<header class="site-header">

  <!-- Header -->
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="glyphicon glyphicon-road" aria-hidden="true"></span> Menu
        </button>
        <a class="navbar-brand" href="/">Traffic Hackers</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/index.html">Home</a></li>
          <li class="hidden-xs"><a href="/map.html">Map<sup>beta</sup></a></li>
          <li><a href="/contact.html">Contact</a></li>
          <li class="active"><a href="/blog/">Blog</a></li>
        </ul>
      </div>
    </div>
  </div>

</header>
