html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.hundred-height {
  height: 80%;
}

/* Navigation */
.navbar {
  margin-bottom: 0px;
}
#segment-autocomplete {
  width: 25em;
}

/* Map */
#map-canvas {
  height: 100%;
  width: 100%;
  float: left;
}

/* Road */
.road {
  stroke: rgb(230,230,230);
  fill: none;
  stroke-width: 0.5;
}

/* Segment */
.segment {
  stroke: rgb(160,160,160);
  stroke-width: 1.25;
  fill: none;
  cursor: pointer;
}

.segment-flyout:hover {
  stroke: rgb(100,100,100);
}

.segment-flyout {
  stroke-width: 2.5;
  fill: none;
}

.segment-nonflyout {
  stroke-width: 0.8;
  fill: none;
}

.segment-selected {
  stroke: rgb(100,100,100);
  fill: none;
}

.segment-label {
  font-family: Tahoma;
  font-size: 8pt;
  fill: rgb(0,0,0);
  stroke: rgb(0,0,0);
}

/* Charts and Detail Pane */

#charts, #detail-region {
  margin-top: 1em;
  position: absolute;
  right: 30px;
  width: 40em;
  background-color: rgb(255,255,255);
}

.detail-hidden {
  display: none;
}

#historicalTravelTimes {
  border-bottom: 1px solid lightgrey;
}

#historical-travel-times-controls {
  margin-top: 1em;
}

#all-subselects {
  display: none;
}

#site-status {
  font-size: 2.5em;
  border:solid 1px darkgray;
  border-radius:2em;"
}

.status-normal {
  background-color: rgb(142,204,158);
}

.status-impacted {
  background-color: rgb(250,189,137);
}

.status-congested {
  background-color: rgb(248,157,154);
}

.rickshaw_graph .x_tick .title {
  font-size: 0.75em;
}

.rickshaw_graph .y_ticks text {
  stroke: rgba(0, 0, 0, 0);
  font-size: 0.7em;
}

/* Typeahead CSS */
span.twitter-typeahead {
  background-color: white;
}

.tt-dropdown-menu,
.gist {
  text-align: left;
}

.typeahead,
.tt-query,
.tt-hint {
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 25em;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 1.6em;

}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

/* main2 */
.sections {
  display: none;
}

.sections-row-heading {
  margin-top: 2em;
  font-size: 1.5em;
  font-weight: 400;
}

.sections-row-description {
  margin-bottom: 1em;
}


.sections-col-graphset {
  margin-bottom: 3em;
}

.average-region-status {
  font-size: 1.8em;
  border:solid 1px darkgray;
  border-radius:2.0em;"
}

.chart-title {
  font-weight: 400;
}

.detail-description {
  font-size: 0.9em;
}

.detail-number {
  font-size: 2.0em;
}

/* contact */
.owner-name {
  margin: 0.75em 0em 0.25em 0em;
  font-size: 1.5em;
  font-weight: 400;
}

.owner-list {
  margin-top: 1.75em;
}

.website-link {
  margin-bottom: 0.5em;
  margin-top: 0.25em;
}

.website-link {
  margin-bottom: 0.5em;
}

/* map */
#average-region-status {
  font-size: 2.5em;
  border:solid 1px darkgray;
  border-radius:2.0em;"
}

/* footer */
.icon > svg {
  height: 16px;
}

.navbar {
  min-height: 0px;
}

.footer-text {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
